**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/dist
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/imports.tf
**/*.user
**/*.suo
**/*.rsuser
**/*.pubxml
**/*.publishsettings
**/*.pfx
**/*.mdf
**/*.ldf
**/*.ndf
Dockerfile
docker-compose*.yml
README.md
docs
